@import "../../App.scss";

.Tab {
    a {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 20px;
        margin-left: 0;
        padding: 8px 10px;
        width: fit-content;
        font-size: 18px;
        cursor: pointer;

        @media (max-width: $large) {
            padding: 8px 0px;
            margin: 20px 5px;
        }
        
        &:hover {
            color: white;
            opacity: 0.8;
            transform: scale(1.05);
        }
        .tabIcon {
            margin-right: 10px;
            font-weight: 600;
        }
        .tabLabel {
            font-weight: 500;
            @media (max-width: $large) {
                display: none;
            }
        }
    }
}
